/* This is an example of external CSS */

/* Body styles */
body {
    background-color: rgb(243, 234, 224);
    overflow-x: hidden;
}

/* Heading styles */
h1, h2 {
    margin-top: 5%;
    margin-bottom: 2.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -0.05rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

/* Subheading styles */
h3, h4 {
    margin-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 0.75rem;
}

h4 {
    font-size: 0.5rem;
    text-indent: 2em;
}

/* Paragraph styles */
p {
    font-size: 0.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}

/* Flexbox parent container */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid container */
/* .gridcontainer{
    display: grid;
    grid-template-rows: repeat(2, fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin-right: 5%;
} */


/* Grid items */
.item-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.item-2 { 
    grid-area: 1 / 2 / 2 / 3;
}

/* Image size control */
.Image { 
    width: 100%;
    /* max-width: 600px;  */
}

/* div#ImageContainer { 
    max-width: 600px; 
} */

/* Blockquote styles */
blockquote {
    font-style: italic;
    text-indent: -0.45em;
    quotes: "“" "”" "‘" "’";
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}


/*List Appearance*/
#navcontainer ul{
    margin-left: 0px;
    padding: 20px;
}


/* Button container */
button-cont {
    padding: 20px;
    margin: 20px;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    display: inline-block;
    position: fixed;
}

/* Content container */
.container {
    margin: auto;
    width: 80vw;
    padding: 20px;
}

/* Column styles */
.column {
    float: left;
    width: 50%;
    width: auto;
}

/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content section */
.content {
    /* float: left;
    margin-left: 25%;
    width: 77%;
    margin-top: 10px;
    position: absolute; */
    /* background-color: red; */
    margin-left: 145px;

}


/* Media query for responsiveness */
/* @media (min-width: 660.26px) {
    .content {
        float: left;
        margin-left: 155px;
    }
} */

/* Additional styling for grip sections */
.grip-section {
    margin-bottom: 120px;
    width: 100%;

}

/* Back to top button */
.backtotop {
    position: fixed;
    padding: 1px;
    bottom: 25px;
    font-size: 2rem;
    width: 16.66%;
    max-width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sticky position for table of contents */
.cont {
    float: left;
    padding: 10px;
    top: 34px;
    width: 110px;
    position: fixed;
    background-color: white;

}

/* Absolute positioning */
div.absolute {
    position: absolute;
    left: 22%;
    border: 1px solid blue;
}

/* Relative positioning */
div.relative {
    position: relative;
    border: 1px solid blue;
    margin-left: 22%;
}

/* Link styles */
a:link {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
}

a:visited {
    color: rgb(115, 105, 79);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: rgb(221, 187, 100);
    transition: 1s;
}

/* Smooth scrolling behavior */
* {
    scroll-behavior: smooth;
}


.head {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.headText {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 2%;


}

.head-flex-item {
    width: 50%;
}

@media (min-width: 375px) {
    .headText {
        flex-direction: column;
    }
}